<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks | Início</title>

    <link rel="shortcut icon" href="/assets/images/rocket.svg" type="image/x-icon">

    <link rel="stylesheet" href="/assets/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <main class="container-splashscreen">

        <section class="image-container">
            <img src="/assets/images/Logo-Todo.svg" alt="ToDo Logo">
        </section>

        <section class="text-container">
            <h3>Manter a organização do dia a dia pode ser um desafio, mas com a ferramenta certa, tudo fica mais
                simples. Este aplicativo de ToDo List foi criado para ajudar você a gerenciar suas tarefas de forma
                prática, rápida e eficiente</h3>
            <a id="start-btn" href="http://localhost:3030/tasks">Iniciar</a>
        </section>

    </main>

</body>

</html>